div#topo{
	background-color:#ccc;
	width:945px;
	height:165px;
	margin:0 auto;
}

div#logo{
	background-color:#f00;
	width:310px;
	height:80px;
margin-top:50px;
float:left;	
}

div#login{
	background-color:#0f0;
	width:180px;
	height:65px;
margin-top:50px;
	float:right;
	}